h1, h2 {
    text-align: left;
    font-family:'Playfair Display', 'TAN Mon Cheri';
}

h2 {
    font-size: 32px;
}

h1 {
    font-size: 40px;
}

body {
    background-color: #E7E1D9;
}

p {
    font-family:'Aleo Light', Georgia;
    max-width: 50%;
    font-size: 20px;
}

section {
    margin: .5rem 0;
    padding: .5rem;
}

