* {
    box-sizing: border-box;
}

h1,
h2 {
    text-align: left;
    color: #38232A;
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 32px;
}

h1 {
    font-size: 40px;
}

body {
    background-color: #E7E1D9;
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

section {
    margin: .5rem 0;
    padding: .5rem;
}

.quiz-page {
    background-color: #86C1CF;
}

.quiz-nav {
    display: none;
}

.quiz-header h1 {
    font-family: 'Rosarivo', serif;
}

.question, .options {
    text-align: center;
}

.question p:first-child {
    font-family: 'Rosarivo', serif;
}

/* Reference: https://stackoverflow.com/questions/43259704/css-how-to-center-align-a-list-element-with-left-aligned-text#:~:text=I%20would%20suggest%20adding%20text,from%20the%20parent%2C%20as%20desired. */
div {
    display: inline-block;
    text-align: left;
    /* padding: 0.5em 0; */
}

.options p {
    display: flex;
    background-color: #38232A;
    border-radius: 6px;
    padding: .5rem 4rem;
    color: white;
}

.options p:hover {
    background-color: #EFE3C8;
    color: black;
}

.buttons {
    display: flex;
    /* text-align: center; */
    justify-content: space-evenly;
}

.next:hover, .previous:hover {
    color: white;
}

footer p {
    /* display: block;
    position: absolute;
    bottom: 0;
    left: 0; */
    font-size: 12px;
}

@media (min-width: 576px) {
    .quiz-nav {
        display: flex;
        position: absolute;
        right: 0;
     }
    
    .quiz-nav a {
        font-size: 15px;
        text-decoration: none;
     }

    .quiz-nav .quiz-link {
        text-decoration: underline;
        font-weight: bold;
    }

    .question p:last-child {
        font-size: 26px;
    }
}

img.profile-picture {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.flex-container {
    display: block;
}

nav a {
    color: black;
    font-size: 2.5rem;
    margin-right: .5em;
}

.navbar2 {
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 142px;
    display: inline-flex;
}

.navbar2 .bar {
    width: 275px;
    height: 87px;
    position: relative;
}

.navbar2 .bar .border {
    width: 275px;
    height: 87px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #A86846;
    border-radius: 16px
}

.navbar2 .bar .border .class {
    padding-bottom: .25rem;
    padding-top: .5rem;
    font-size: .75rem;
    position: absolute;
    text-align: center;
    color: #EFE3C8;
    font-size: 22px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word
}