/* Variables */
:root {
    --header-height: 3.5rem;
  
    /*Color*/
    --espresso-brown: #38232A;
    --cappuccino: #A86846;
    --caramel: #C7A27A;
    --milk-foam: #F8F2EB;
    --creamy-latte: #EFE3C8;
  
    /*Font and typography*/
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
  
    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
  
    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  
  /* Responsive typography */
  @media screen and (min-width: 1152px) {
    :root {
      --biggest-font-size: 4rem;
      --h3-font-size: 1.125rem;
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
    }
  }
  
  /* BASE */
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--body-color);
    color: var(--text-color);
  }

  h1, h2 {
    text-align: left;
    color: #38232A;
    font-family: 'Poppins', sans-serif;
}

/* h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 20px;
} */

section {
    margin: .5rem 0;
    padding: .5rem;
}

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
  
  /* REUSABLE CSS CLASSES */
  .container {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  
  .main {
    overflow: hidden; /* For animation */
  }
  
  .section {
    padding: 50px 100px;
  }

  .home__title {
      font-family: "Rosarivo", sans-serif;
  }
  
  /* HEADER & NAV */
  .header {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      background-color: var(--first-color);
      z-index: var(--z-fixed);
  }
  
  .nav {
      position: relative;
      height: var(--header-height);
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  .nav__logo,
  .nav__toggle, 
  .nav__close{
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .nav__logo {
      color: var(--text-color);
      column-gap: .5rem;
      font-weight: var(--font-semi-bold);
  }
  
  .nav__logo i{
      font-size: 1.25rem;
      font-weight: initial;
  }
  
  .nav__toggle, 
  .nav__close {
      background-color: var(--first-color-alt);
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      font-size: 1.25rem;
      cursor: pointer;
  }
  
  .quiz-page {
    background-color: #86C1CF;
}

.displayed-nav {
    display: none;
}

.dropdown-nav {
    display: flex;
    position: absolute;
    right: 0;
}

.quiz-header h1 {
    font-family: 'Rosarivo', serif;
}

.question, .options {
    text-align: center;
}

.question p:first-child {
    font-family: 'Rosarivo', serif;
}

/* Reference: https://stackoverflow.com/questions/43259704/css-how-to-center-align-a-list-element-with-left-aligned-text#:~:text=I%20would%20suggest%20adding%20text,from%20the%20parent%2C%20as%20desired. */
div {
    display: inline-block;
    text-align: left;
    /* padding: 0.5em 0; */
}

.options p {
    display: flex;
    background-color: #38232A;
    border-radius: 6px;
    padding: .5rem 4rem;
    color: white;
}

.options p:hover {
    background-color: #EFE3C8;
    color: black;
}

.buttons {
    display: flex;
    /* text-align: center; */
    justify-content: space-evenly;
}

.next:hover, .previous:hover {
    color: white;
}

footer p {
    /* display: block;
    position: absolute;
    bottom: 0;
    left: 0; */
    font-size: 12px;
}

@media (min-width: 576px) {
    .displayed-nav {
        display: flex;
        position: absolute;
        right: 0;
    }

    .dropdown-nav {
        display: none;
    }
    
    .quiz-nav a {
        font-size: 15px;
        text-decoration: none;
    }

    .quiz-nav .quiz-link {
        text-decoration: underline;
        font-weight: bold;
    }

    .question p:last-child {
        font-size: 26px;
    }
}

img.profile-picture {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
}

.flex-container {
    display: block;
}

nav a {
    color: black;
    margin-right: .5em;
}

/* tracker */
.navbar2 {
    width: 90%;
    justify-content: start;
    align-items: center;
    gap: 8rem;
    display: inline-flex;
}

.navbar2 .bar {
    width: 50%;
    height: 50%;
    margin: 100px;
    position: relative;
}

div.border {
    width: 275px;
    height: 80px;
    left: 20%;
    top: 20%;
    box-sizing: border-box;
    position: absolute;
    background: var(--cappuccino);
    border-radius: 16px;
}

div.border h2 {
    line-height: 1.2;
    padding: 1.5rem;
    position: static;
    text-align: center;
    color: var(--creamy-latte);
    font-size: 22px;
    font-family: Poppins;
    font-weight: 500;
    word-wrap: break-word;
    margin-bottom: 0;
}

#select {
    background: var(--espresso-brown);
}

  /* Navigation for mobile devices */
  @media screen and (max-width: 1023px) {
      .nav__menu {
          position: fixed;
          top: 0;
          right: -100%;
          background-color: var(--body-color);
          width: 80%;
          height: 100%;
          box-shadow: 0 0 16px hsla(32, 48%, 95% .2);
          padding: 6rem 3rem;
          display: flex;
          flex-direction: column;
          row-gap: 2.5rem;
          transition: right .4s;
      }
  }
  
  .nav__list{
      display: flex;
      flex-direction: column;
      row-gap: 2.5rem;
  }
  
  .nav__link {
      color: var(--text-color);
      font-weight: var(--font-semi-bold);
      transition: color .4s;
  }
  
  .nav__link:hover {
      color: #F8F2EB;
  }
  
  .nav__button {
      display: inline-block;
      width: max-content;
      background-color: var(--body-color);
      border: 2px solid var(--text-color);
      padding: 1rem 3rem;
      border-radius: 4rem;
      color: var(--title-color);
      font-weight: var(--font-semi-bold);
  }
  .nav__close {
      position: absolute;
      top: .75rem;
      right: 1.5rem;
  }

  /* Show menu */
  .show-menu {
      right: 0;
  }
  
  /* HOME */
  .home {
    width: 100%;
    min-height: 100vh;
    background: url(img/bgvector.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
  }
  .home-text h1 {
    font-size: 3.4rem;
    color: var(--title-color);
    font-family: "Rosarivo", sans-serif;
    letter-spacing: 1px;
  }
  .home-btn {
    display: inline-block;
    background: linear-gradient(180deg,
                var(--text-color),
                var(--second-color-alt));
    padding: 1rem 3rem;
    border-radius: 4rem;
    color: var(--body-color);
    font-weight: var(--font-semi-bold);
    box-shadow: 0 8px 32px hsla(340, 23%, 18% .3),
                inset 0 4px 8px hsla(32, 46% 95% .4);
}

  /* BREAKPOINTS */
  /* S devices */
  @media screen and (max-width: 300px){
      .container {
          margin-inline: 1rem;
      }
      .home__title {
          font-size: 1.75rem;
      }
  }
  
  /* TL devices */
  @media screen and (min-width: 376px) and (min-height: 800px) {
      .home__container {
          padding-top: 10rem;
      }
  }
  
  /* M devices */
  @media screen and (min-width: 576px) {
      .home__container {
          grid-template-columns: 400px;
          justify-content: center;
      }
  
      .nav__menu {
          width: 60%;
      }
  }
  
  @media screen and (min-width: 767px) {
      .home {
          display: grid;
          place-content: center;
      }
      .home__container {
          grid-template-columns: repeat(2, 350px);
          padding-top: 0;
      }
      .home__content {
          text-align: initial;
      }
      .home__title {
          margin-inline: 0;
      }
  }
  
  /* LG devices */
  @media screen and (min-width: 1023px) {
      .nav {
          height: calc(car(--header-height) + 2rem);
      }
      .nav__toggle,
      .nav__close {
          display: none;
      }.nav__menu {
          width: 100%;
          display: flex;
          align-items: center;
          column-gap: 4.5rem;
      }
      .nav__list {
          margin-left: auto;
          flex-direction: row;
          column-gap: 4.5rem;
      }
  
      @media screen and  (min-width: 1152px) {
          .container {
              margin-inline: auto;
          }
          .home__container {
              grid-template-columns: 460px 650px;
              align-items: center;
              z-index: 5;
          }
          .home__subtitle {
              font-size: var(--normal-font-size);
              margin-bottom: .75rem;
          }
          .home__title {
              letter-spacing: -3px;
              margin-bottom: 1rem;
          }
          .home__title img {
              width: 250px;
              right: -.75rem;
          }
          .home__description {
              font-size: var(--h3-font-size);
              margin-bottom: 3rem;
          }
  
      }
  }