:root {

    /* basics */
	--c-white: #fff;
	--c-black: #000;

	/* // Greys */
	--c-ash: #eaeef6;
	--c-charcoal: #a0a0a0;
	--c-void: #141b22;

	/* // Beige/Browns */
	--c-fair-pink: #FFEDEC;
	--c-apricot: #FBC8BE;
	--c-coffee: #754D42;
	--c-del-rio: #917072;

	/* // Greens */
	--c-java: #1FCAC5;

	/* // Purples */
	--c-titan-white: #f1eeff;
	--c-cold-purple: #a69fd6;
	--c-indigo: #6558d3;
	--c-governor: #4133B7;

	/* DO NOT TRANSFER THE FOLLOWING CODE!*/
	--header-height: 3.5rem;

	/*Font and typography*/
    --title-font: "Rosarivo", sans-serif;
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;

	/* coffee style */
	--dark-roast: #574248;
    --espresso-brown: #38232A;
    --cappuccino: #A86846;
    --caramel: #C7A27A;
    --milk-foam: #F8F2EB;
    --creamy-latte: #EFE3C8;
    --mint: #86C1CF;
	--cold: #ABEFFF;
	--colder-blue: #0A5F73;
	--hot: #FF7C7C;
}

/* background image */
.tracker {
	background-color: var(--caramel);
}

.sectionTracker h3 {
	margin-bottom: 0.5rem;
}

.allCards p {
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

.allCards {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-wrap: wrap;
	justify-content: center;
	gap: 2.5rem;
	margin: 10vh auto;
}

.user-attribute {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 2px solid #000
}

.small-avatar1 {
    width: 2em;
    border-radius: 150px;
    margin-right: 1.4em;
}

.card {
	background-color: #fff;
	padding: 1.5rem;
	border-radius: 16px;
	max-width: 300px;
}

.tags {
	margin-top: 1rem;
	margin-bottom: .5rem;
}

.tag {
	display: inline-block;
	background-color: var(--creamy-latte);
	color: var(--dark-roast);
	font-size: 0.875rem;
	padding: 0.5em 0.75em;
	line-height: 1;
	border-radius: 8px;
	margin-bottom: .5rem;
}

.coffeeimg {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.allCards .buttons {
	margin-top: 1rem;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	width: 100%;
}

.favbutton {
	border-radius: 18px;
	padding: .5rem 1rem;
	background-color: var(--espresso-brown);
    color: var(--milk-foam);
}

.favicon {
	width: 13px;
	height: 13px;
}

/* from style.css (do not copy over) */
.primary-button {
    border-radius: 18px;
    padding: .5rem 1rem;
    background-color: var(--espresso-brown);
    color: var(--milk-foam);
}

.secondary-button {
    border-radius: 8px;
    padding: .5rem 1rem;
    background-color: var(--cappuccino);
    color: var(--milk-foam);
}

.tertiary-button {
    border-radius: 8px;
    border: 4px solid;
    padding: .5rem 1rem;
    border-color: var(--espresso-brown);
    color: var(--milk-foam);
}
