:root {
    
    font-size: 15px;
    
    /* Primary */
    --var-soft-blue: hsl(215, 51%, 70%);
    --var-cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --var-main-darkest: hsl(217, 54%, 11%);
    --var-card-dark: hsl(216, 50%, 16%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;
    
    /* Fonts */
    --var-heading: normal normal 600 1.5em/1.6em 'Outfit', sans-serif;
    --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;
    --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;

    /* basics */
	--c-white: #fff;
	--c-black: #000;

	/* // Greys */
	--c-ash: #eaeef6;
	--c-charcoal: #a0a0a0;
	--c-void: #141b22;

	/* // Beige/Browns */
	--c-fair-pink: #FFEDEC;
	--c-apricot: #FBC8BE;
	--c-coffee: #754D42;
	--c-del-rio: #917072;

	/* // Greens */
	--c-java: #1FCAC5;

	/* // Purples */
	--c-titan-white: #f1eeff;
	--c-cold-purple: #a69fd6;
	--c-indigo: #6558d3;
	--c-governor: #4133B7;

	/* coffee style */
	--dark-roast: #574248;
    --espresso-brown: #38232A;
    --cappuccino: #A86846;
    --caramel: #C7A27A;
    --milk-foam: #F8F2EB;
    --creamy-latte: #EFE3C8;
    --mint: #86C1CF;
	--cold: #ABEFFF;
	--colder-blue: #0A5F73;
	--hot: #FF7C7C;
}

.user-attribute {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	border-bottom: 2px solid var(--var-line-dark);
}

.small-avatar1 {
    width: 2em;
    border-radius: 150px;
    margin-right: 1.4em;
}

.card {
	background-color: #fff;
	padding: 1.5rem;
}

.tags {
	margin-top: 1rem;
	margin-bottom: .5rem;
}

.tag {
	display: inline-block;
	background-color: var(--creamy-latte);
	color: var(--dark-roast);
	font-size: 0.875rem;
	padding: 0.5em 0.75em;
	line-height: 1;
	border-radius: 8px;
	margin-bottom: .5rem;
}

.favbutton {
	border-radius: 18px;
	padding: .5rem 1rem;
	background-color: var(--espresso-brown);
    color: var(--milk-foam);
}

.favicon {
	width: 13px;
	height: 13px;
}

/* from style.css (do not copy over) */
.primary-button {
    border-radius: 18px;
    padding: .5rem 1rem;
    background-color: var(--espresso-brown);
    color: var(--milk-foam);
}

.secondary-button {
    border-radius: 8px;
    padding: .5rem 1rem;
    background-color: var(--cappuccino);
    color: var(--milk-foam);
}

.tertiary-button {
    border-radius: 8px;
    border: 4px solid;
    padding: .5rem 1rem;
    border-color: var(--espresso-brown);
    color: var(--milk-foam);
}
