/* Variables */
:root {
    --header-height: 3.5rem;

    /*Color*/
    --espresso-brown: #38232A;
    --dark-roast: #574248;
    --cappuccino: #A86846;
    --caramel: #C7A27A;
    --milk-foam: #F8F2EB;
    --creamy-latte: #EFE3C8;
    --mint: #86C1CF;

    /*Font and typography*/
    --title-font: "Rosarivo", sans-serif;
    --body-font: "Poppins", sans-serif;
    --biggest-font-size: 2rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;

    /* Font weight */
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* z index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* BASE */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background-color: var(--espresso-brown);
    color: var(--creamy-latte);
}

h1,h2 {
    font-family: var(--title-font);
    font-size: 2.5rem;    
    text-align: center;
    color: var(--espresso-brown);
}

section {
    margin: .5rem 0;
    padding: .5rem;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

/* REUSABLE CSS CLASSES */
.container {
    max-width: 1120px;
    margin-inline: 1.5rem;
}

.main {
    overflow: hidden;
    background: url('../public/img/bgvector.png') no-repeat center center fixed;
    background-size: cover;
    position: relative; 
}

.section {
    padding: 50px 100px;
}

.home__title {
    font-family: var(--title-font);
}

/* Explore Page */
.explore-page {
    /* background-color: var(--cappuccino); */
    color: var(--espresso-brown);
}

.filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* .filter-container{
    background-color: var(--milk-foam);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    max-width: 75%;
    border-radius: 4px;
    height: 80px;
} */

.filter-container {
    background-color: var(--creamy-latte);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    max-width: 75%;
    border-radius: 10px;
    flex-direction: column;
    height: auto;
}

div.filtering select {
    padding: 2px 5px;
    font-size: 0.9rem;
}

.otherHeader {
    margin-top: 100px;
    margin-left: 90px;
    margin-bottom: 25px;
    color: var(--milk-foam);
}

.trackerHeader {
    margin-top: 30px;
    color: var(--espresso-brown);
    
}

div.filtering label {
    color: var(--espresso-brown);
    font-size: 1rem;
}

.filtering {
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    padding: 1em;
    position: relative;

}


/* Buttons */
.primary-button {
    background: var(--espresso-brown);
    padding: 1rem 3rem;
    border-radius: 4rem;
    color: var(--creamy-latte);
    font-weight: var(--font-semi-bold);
}

.secondary-button {
    background: var(--espresso-brown);
    padding: 1rem 3rem;
    border-radius: 4rem;
    color: var(--creamy-latte);
    font-weight: var(--font-semi-bold);
}

.tertiary-button {
    background: var(--espresso-brown);
    padding: 1rem 3rem;
    border-radius: 4rem;
    color: var(--creamy-latte);
    font-weight: var(--font-semi-bold);
}

.primary-button:hover {
    background:var(--creamy-latte);
    color: var(--espresso-brown);

}

.secondary-button:hover {
    background:var(--creamy-latte);
    color: var(--espresso-brown);
}

.tertiary-button:hover {
    background:var(--creamy-latte);
    color: var(--espresso-brown);
}

.tabs {
    display: flex;
    background-color: var(--espresso-brown);
    border-radius: 6px;
    padding: .5rem 4rem;
    color: white;
}

.tabs:hover {
    background-color: var(--milk-foam);
    color: black;
}

.tabs:active {
    display: flex;
    background-color: var(--espresso-brown);
    border-radius: 6px;
    padding: .5rem 4rem;
    color: white;
}

/* HEADER & NAV */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--espresso-brown);
    z-index: var(--z-fixed);
}

.heading h1 {
    /* text-align: center; */
    font-family: var(--title-font);
}

.orders {
    background-color: var(--cappuccino);
} 

.nav {
    position: relative;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    color: var(--creamy-latte);
    column-gap: .5rem;
    font-weight: var(--font-semi-bold);
    display: flex;
}

.nav__logo i {
    font-size: 1.25rem;
    font-weight: initial;
}

/* Quiz Page */

/* FOR QUIZ PAGE TO GET ALL THE WAY TO THE BOTTOM OF THE SCREEN */
/* .quiz-height {
    height: 100%;
} */

.main-quiz-padding {
    padding: 3rem;
}

.quiz-page {
    background-color: var(--mint);
}

/* .displayed-nav {
    display: none;
}

.dropdown-nav {
    display: flex;
    position: absolute;
    right: 0;
} */

.quiz-header {
    font-family: var(--title-font);
    color: var(--espresso-brown);
    margin-top: 60px;
}

/* Question and answers */
.question, .options {
    text-align: center;
}

.question {
    color: var(--espresso-brown);
    margin-bottom: 10px;
}

.question p:first-child {
    font-family: var(--body-font);
}

.question p:last-child {
    font-size: 26px;
}

/* Reference: https://stackoverflow.com/questions/43259704/css-how-to-center-align-a-list-element-with-left-aligned-text#:~:text=I%20would%20suggest%20adding%20text,from%20the%20parent%2C%20as%20desired. */
div {
    display: block;
    text-align: left;
    /* padding: 0.5em 0; */
}

.options li {
    display: block;
    text-align: center;
    width: 65%;
    background-color: var(--espresso-brown);
    border-radius: 6px;
    padding: .5rem 4rem;
    margin: auto;
    margin-bottom: 1rem;
    color: white;
}

.options li:hover {
    background-color: var(--creamy-latte);
    color: var(--espresso-brown);
}

.buttons {
    display: flex;
    /* text-align: center; */
    justify-content: space-evenly;
    color: var(--espresso-brown);
}

/* .next:hover,
.previous:hover {
    color: white;
} */

footer p {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 12px;
    color: #EFE3C8;
}

/* don't neeed if we are doing it with brown border on bottom */
.dark-footer {
    color: var(--espresso-brown);
}

/* Custom Orders Page */
.custom-orders {
    font-family: var(--title-font);
    color: var(--caramel);
    margin-top: 60px;
}

.custom-drinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* profile page */
img.profile-picture-edit {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 10px;
    object-fit: cover;
}

img.profile-picture {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
}

.block-container {
    display: block;
    padding-top: 50px;
    justify-content: center;
    text-align: center;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.custom-drinks .card {
    background-color: #201520;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 
      0 1px 3px rgba(0, 0, 0, 0.16),
      0 1px 3px rgba(0, 0, 0, 0.23);
}

.account-data h2 {
    color: #EFE3C8;
}

.account-data {
    padding: 15px;
}

.edit-data {
    padding: 0 100px 5px ;
}

.hide {
    display: none;
}

.account-data p {
    text-align: center;
}

.post-cards div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.post-cards div div img {
    border-radius: 10px 10px 0 0;
    height: 225px;
  }

.post-cards div div {
    flex: 0 0 250px;
    background-color: white;
    margin: 0.5rem;
    border-radius: 10px;
    box-shadow: 
      0 1px 3px rgba(0, 0, 0, 0.16),
      0 1px 3px rgba(0, 0, 0, 0.23);
}

.account-tabs:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.block-container .flex-box{
    justify-content: center;
    padding: 15px;
}

.profile-content {
    flex-grow: 1;
}

.post-cards p {
    color: #38232A;
}

.profile-content h2 {
    color: #EFE3C8;
    text-align: center;
    padding-top: 20px;
}

footer {
    position:relative;
    bottom:0;
    width:100%;
    height:60px; 
}

/* nav a {
    color: var(--espresso-brown);
    margin-right: .5em;
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link {
    color: var(--creamy-latte);
    font-weight: var(--font-semi-bold);
    transition: color .4s;
}

.nav__link:hover {
    color: #F8F2EB;
}

.nav__button {
    display: inline-block;
    width: max-content;
    background-color: var(--espresso-brown);
    border: 2px solid var(--creamy-latte);
    padding: 1rem 3rem;
    border-radius: 4rem;
    color: var(--milk-foam);
    font-weight: var(--font-semi-bold);
} */

.nav__list {
        margin-left: auto;
        flex-direction: row;
        column-gap: 4.5rem;
}

.nav__menu {
    display: none;
}

/* sign in page */
.sign-in {
    display: flex;
    justify-content: center;
    padding-top: 200px;
}

.sign-in .block-container {
padding-top: 0;
}

.main-signIn {
    padding-bottom: 275px;
}

/* .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--espresso-brown);
    width: 80%;
    height: 100%;
    box-shadow: 0 0 16px hsla(32, 48%, 95% .2);
    padding: 6rem 3rem;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    transition: right .4s;
} */

/* .t-navi {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: right .4s;
} */

div.tracker-nav {
    display: grid;
    margin: 2rem auto;
    align-items: center;
    columns: 2 100px;
}

/* Show menu */
.show-menu {
    right: 0;
}

/* HOME */
.home {
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.home-text h1 {
    text-align: left;
    color: var(--milk-foam);
    font-family: var(--title-font);
    font-size: 3.4rem;
    letter-spacing: 1px;
}

.main .home-text {
    position: absolute;
    top: 13%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: var(--milk-foam);
    z-index: 1;
  }

.home-btn {
    display: inline-block;
    background:var(--creamy-latte);
    margin: 2rem 0;
    padding: 1rem 3rem;
    border-radius: 4rem;
    color: var(--espresso-brown);
    font-weight: var(--font-semi-bold);
    
}

/* HOME Main Section */
.home-section {
    height: 900px;
    display: inline-block;
    width: 100%;
}

/* HOME Orders Section */
.orders-section {
    background: var(--cappuccino);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.orders h1 {
    justify-content: center;
    width: 100%;
    color: var(--creamy-latte);
    padding-top: 2rem;
}

.home-order-img {
    padding-top: .5rem;
    max-width: 90%;
    height: auto;
    display: inline-block;
}

.order-btn {
    display: inline-block;
    background: var(--espresso-brown);
    padding: 1rem 3rem;
    border-radius: 4rem;
    color: var(--creamy-latte);
    font-weight: var(--font-semi-bold);
    margin: 10px 0 20px 0;
}

/* HOME Tracker Section */
.tracker h1 {
    justify-content: center;
    width: 100%;
    padding-top: 2rem;
}

.home-tracker-img {
    max-width: 75%;
    height: auto;
    display: block;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.tracker-section {
    background: var(--creamy-latte);
    color: var(--espresso-brown);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* HOME Quiz Section */
.quiz {
    width: 100%;
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17rem, auto));
    align-items: center;
    gap: 1.5rem;
}

.quiz-text h1 {
    color: var(--espresso-brown);
    font-family: var(--title-font);
    font-size: 2.5rem;
    letter-spacing: 1px;
    text-align: left;
    padding: 0 0 0 4rem;
}

.quiz-btn {
    display: inline-block;
    background: var(--espresso-brown);
    margin: 2rem 0 0 4rem;
    padding: 1rem 3rem;
    border-radius: 4rem;
    color: var(--creamy-latte);
    font-weight: var(--font-semi-bold);
}

.quiz-section {
    height: 800px;
    background: var(--mint);
    color: var(--espresso-brown);
    display: inline-block;
    width: 100%;
} 

/* Tracker page */
.inputs {
    margin: auto;
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
}

.tag {
    display: inline-block;
    background-color: var(--c-titan-white);
    color: var(--c-indigo);
    font-weight: 600;
    font-size: 0.875rem;
    padding: 0.5em 0.75em;
    line-height: 1;
    border-radius: 6px;
    & + * {
        margin-top: 1rem;
    }
}

.tracker {
    background-color: var(--creamy-latte);
    color: var(--espresso-brown);
}

.imageUpload {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 75%;
}

.trackHeader {
    margin-top: 100px;
    margin-left: 90px;
    margin-bottom: 25px;
    color: var(--espresso-brown);
}

div.tracker-nav{
    display: flex;
    flex-wrap: wrap;
}

.tracker-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    padding-top: 75px;
}

.t-button {
    background-color: var(--espresso-brown);
    border-radius: 12px;
    margin-right: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.t-button:selection {
    background-color: var(--cappuccino);
}

.content-navi {
    padding: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-navi:hover {
    background-color: var(--cappuccino);
    border-radius: 12px;
}

.content-navi:selection {
    background-color: var(--cappuccino);
}

.text-navi {
    color: var(--creamy-latte);
}

.cal {
    margin-top: 100px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

p.tracker {
    font-size: 20px;
    color: var(--espresso-brown);
}

/* Tracker page - logging coffee */
.logging {
    display: grid;
    grid-row: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 90px;
    margin-right: 90px;
    padding: 20px;
    box-sizing: border-box;
    justify-content: center;
}

div.tracker {
    display: grid;
    grid-row: auto;
    padding-bottom: 20px;
}

p.tracker {
    padding-bottom: 2px;
}

p.explanation {
    font-style: italic;
    font-size: 14px;
    padding-bottom: 5px;
}

div.uploadImg {
    display: grid;
    grid-row: auto;
    justify-content: center;
    margin: 90px;
}

.t-cup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
}

/* CARDS! */

.sectionTracker {
    margin-top: 0.5rem;
}
.allCards p {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.allCards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2.5rem;
    margin: 5vh auto;
}

.user-attribute {
    display: flex;
    padding-bottom: 1em;
    border-bottom: 2px solid #C7A27A;
    width: 100%;
}

.avatar {
    width: 3em;
    border-radius: 150px;
    margin-right: 1em;
}

.card h2 {
    font-size: 2rem;
}

.avatarUsername {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #fff;
    color: var(--espresso-brown);
    padding: 1.5rem;
    border-radius: 16px;
    max-width: 350px;
}

/* .tags {
    margin-top: 1rem;
    margin-bottom: .5rem;
} */

.tag {
    display: inline-block;
    background-color: var(--creamy-latte);
    color: var(--dark-roast);
    font-size: 0.875rem;
    padding: 0.5em 0.75em;
    line-height: 1;
    border-radius: 8px;
    margin-bottom: .5rem;
    margin-right: .5rem;
}

.coffeeimg {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.allCards .buttons {
    margin-top: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    width: 100%;
}

.favbutton {
    border-radius: 18px;
    padding: .5rem 1rem;
    background-color: var(--espresso-brown);
    color: var(--milk-foam);
}

.favicon {
    width: 13px;
    height: 13px;
}


/* Quiz Page for bigger screens */
@media (min-width: 576px) {
    /* .displayed-nav {
        display: flex;
        position: absolute;
        right: 0;
    }

    .dropdown-nav {
        display: none;
    } */

    .quiz-nav a {
        font-size: 15px;
        text-decoration: none;
    }

    .quiz-nav .quiz-link {
        text-decoration: underline;
        font-weight: bold;
    }

    .options li {
        width: 60%;
    }

/* 
    .question p:last-child {
        font-size: 26px;
    } */
}

/* Quiz Page for bigger screens */
@media (min-width: 768px) {
    .options li {
        width: 50%;
    }
}

/* Quiz Page for bigger screens */
@media (min-width: 992px) {
    .options li {
        width: 40%;
    }
}

/* Quiz Page for bigger screens */
@media (min-width: 1200px) {
    .options li {
        width: 30%;
    }
}

/* Quiz Page for bigger screens */
@media (min-width: 1400px) {
    .options li {
        width: 25%;
    }
}

/* Navigation for mobile devices */
/* @media screen and (max-width: 1023px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: -100%;
        background-color: var(--espresso-brown);
        width: 80%;
        height: 100%;
        box-shadow: 0 0 16px hsla(32, 48%, 95% .2);
        padding: 6rem 3rem;
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        transition: right .4s;
    }
    
    .t-navi {
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: right .4s;
    }

    div.tracker-nav {
        display: grid;
        margin: 2rem auto;
        align-items: center;
        columns: 2 100px;
    }

} */

@media screen and (min-width: 1023px) {
    /* .filter-container {
        display: flex;
        flex-direction: column;
        height: auto;
    } */

    .filter-container{
        flex-direction: row;
        height: 80px;
    }
}

/* BREAKPOINTS */
/* M devices */
@media screen and (min-width: 576px) {
    .nav__menu {
        width: 60%;
    }
}

@media screen and (min-width: 767px) {
    .home {
        display: grid;
        place-content: center;
    }
}

/* LG devices */
@media screen and (min-width: 1023px) {
    .nav {
        height: calc(car(--header-height) + 2rem);
    }

    i.ri-menu-line {
        display: none;
    }

    .nav__menu {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 4.5rem;
        right:0;
    }

    nav a {
        color: var(--espresso-brown);
        margin-right: .5em;
    }
    
    .nav__list {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
    }
    
    .nav__link {
        color: var(--creamy-latte);
        font-weight: var(--font-semi-bold);
        /* transition: color .4s; */
    }
    
    .nav__link:hover {
        color: #F8F2EB;
    }
    
    .nav__button {
        display: inline-block;
        width: max-content;
        background-color: var(--espresso-brown);
        border: 2px solid var(--creamy-latte);
        padding: 0.75rem 1.75rem;
        border-radius: 4rem;
        color: var(--milk-foam);
        font-weight: var(--font-semi-bold);
        font-size: 16px;
        font-family: "Poppins";
        margin: 5px;
    }


    @media screen and (min-width: 1152px) {
        .container {
            margin-inline: auto;
        }
    }
}

/* Responsive typography */
@media screen and (min-width: 1152px) {
    :root {
        --biggest-font-size: 4rem;
        --h3-font-size: 1.125rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
    }
}
